@media(max-width:400px){
    .li-display{
        display: flex;
        margin: 0px auto;
    }
    .head-display{
        display: none;
    }
    .logo h2{
        padding-top: 48px;
    }
    .banner-content h1{
        font-size: 43px;
    }
    .dropdown_content{
        margin-top: 0px;
    }
    .dropdown_content a{
        font-size: 18px;
    }
    .dropdown .dropdown_content{
        background-color: var(--banner-color);
        margin: 0px 32px;
    }
}

@media(min-width:400px) and (max-width:600px){
    .li-display{
        display: none;
    }
    .banner-content h1{
        font-size: 45px;
    }
    .dropdown .dropdown_content{
        background-color: var(--banner-color);
        margin: 0px 32px;
    }
    .dropdown_content a{
        font-size: 18px;
    }
}

/* max-width 600px - mobile view */
@media(max-width:600px){

.dropdown .dropdown_content{
    background-color: var(--banner-color);
    margin: 0px 32px;
}
.dropdown_content a{
    font-size: 18px;
}
/* header */
.nav_center ul{
    overflow: auto;
}
.logo h2{
    font-size: 28px;
}
.nav_button ul{
    margin-right: 0;
}
.nav_button .empty_btn{
    padding: 18px 13px;
}
.nav_button .filled_btn{
    padding: 14px 13px;
}
.navbar_bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    z-index: 1;
}
.logo{
    position: absolute;
    left: 60px;
}
.media_link{
    display: block;
}
.media_link a{
    color: var(--primary-color);
}
.empty_btn{
    display: none;
}
.header .nav_center ul{
    position: fixed;
    top: 90px;
    left: -100%;
    background-color: #fff;
    box-shadow: var(--shadow-black);
    height: calc(100vh - 90px);
    display: block;
    text-align: center;
    z-index: 2;
    transition: all 600ms;
    width: 100%;
    max-width: 300px;
}
.hamburger_icon{
    display: block;
    position: absolute;
    left: 10px;
    top: 30px;
}
.header .nav_center li{
    margin: 30px 0;
}
.header .nav_center li a{
    font-size: 23px;
}
.hamburger_icon i{
    color: var(--primary-color);
    font-size: 32px;
}
#checking:checked ~ ul{
    left: 0%;
}
#checking:checked ~ .hamburger_icon i::before{
    content: "\f00d";
}
.dropdown .dropdown_content{
    left: 0;
    top: 0px;
    right: 0;
    z-index: 3;
}
.dropdown:hover .dropdown_content{
    position: relative;
}
/* END Header */

    /* banner */
    .banner-div{
        padding-top: 50px;
    }
    .banner-content h1{
        line-height: 50px;
    }
    .banner-btn{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .banner-content{
        width: 100%;
        padding: 10px;
        align-items: center;
        text-align: center;
    }
    .banner-content h1{
       
        line-height: 62px;
    }
    .banner-img{
        display: none;
    }
    /* END banner */
    /* Card Section */
        .card-block{
            display: grid;
            grid-template-columns: 1fr;
        }
        .card{
            padding: 35px 40px;
            margin: 0px auto;
            align-items: center;
            text-align: center;
        }
        .card h3{
            align-items: center;
        }
        .card h3::after{
            max-width: unset;
            width: 50px;
        }
    /*END Card Section */
    /* Intro div */
    .intro-div{
        width: 100%;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
    }
    .contnr-gap{
        padding-bottom: 0px;
    }
    .intro-img{
        width: 70%;
        margin: 0px auto;
    }
    .intro-content{
        width: 100%;
        order: 1;
        padding-top: 40px;
        align-items: center;
        text-align: center;
    }
    .intro-head{
        max-width: unset;
        align-items: center;
    }
    .intro-head::before{
        max-width: unset;
        width: 94px;
    }
    /* END Intro div */
    /* Rating Section */
    .rating-card-block{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .rating-card{
        margin: 0px auto;
        box-shadow: var(--shadow-black);
        border-radius: 5px;
    }
    .rating-img{
        height: 400px;
    }
    .rating-img img{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .heading{
        align-items: center;
        text-align: center;
    }
    .rating-content{
        height: 390px;
        gap: 10px;
    }
    .icon-sale{
        left: 25px;
        top: 25px;
    }
    .icon-block{
        bottom: 23px;
        gap: 15px;
    }
    /* END Rating Section */
    /* Pricing section */
    .pricing-card-block{
        grid-template-columns: 1fr;
        margin: 0px auto;
    }
    .pricing-card{
        width: 100%;
        padding: 50px 25px;
        margin-top: 20px;
    }
    .new-icon{
        top: -35px;
        right: -6px;
    }

    /* END Pricing section */
    /* Teacher section */
    .testimonial-flx{
        flex-direction: column;
    }
    .heading{
        padding-bottom: 60px;
    }
    .testimonials-card{
        box-shadow: var(--shadow-black);
    }
    /* END Teacher section */
    /* Product Section */
    .product-flx{
       padding: 100px 15px 90px 15px;
    }
    .product-section-input{
        width: 90%;
    }
    .input{
        width: 100%;
        margin: 0px auto;
        border-radius: 5px;
    }
    .inp-btn{
        border-radius: 5px;
    }
     /*END Product Section */
     /* Footer */
     .footer-links{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
     }
     .ftr-social-link{
        width: 100%;
        margin: 10px auto;
        align-items: center;
        text-align: center;
        padding-bottom: 30px;
     }
     .ftr-link-columns{
        width: 100%;
        margin: 10px auto;
        padding-bottom: 30px;
     }
    }
     /* END Footer */

/*END max-width 600px - mobile view */
/* min-width 600px to 768px - tablet view */
@media(min-width: 600px) and (max-width: 768px){
    /* Header */
    .dropdown_content a{
        font-size: 18px;
    }
    .dropdown .dropdown_content{
        background-color: var(--banner-color);
        margin: 0px 32px;
    }
    .li-display{
        display: none;
    }
    .nav_center ul{
        overflow: auto;
        height: calc(100vh - 90px);
    }
    .logo h2{
        font-size: 28px;
    }
    .nav_button ul{
        margin-right: 0;
    }
    .nav_button .empty_btn{
        padding: 18px 13px;
    }
    .nav_button .filled_btn{
        padding: 14px 13px;
    }
    .navbar_bg{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 90px;
        z-index: 1;
    }
    .logo{
        position: absolute;
        left: 60px;
    }
    .media_link{
        display: block;
    }
    .media_link a{
        color: var(--primary-color);
    }
    .empty_btn{
        display: none;
    }
    .header .nav_center ul{
        position: fixed;
        top: 90px;
        left: -100%;
        background-color: #fff;
        box-shadow: var(--shadow-black);
        height: calc(100vh -90px);
        display: block;
        text-align: center;
        z-index: 2;
        transition: all 600ms;
        width: 100%;
        max-width: 300px;
    }
    .hamburger_icon{
        display: block;
        position: absolute;
        left: 10px;
        top: 30px;
    }
    .header .nav_center li{
        margin: 30px 0;
    }
    .header .nav_center li a{
        font-size: 23px;
    }
    .hamburger_icon i{
        color: var(--primary-color);
        font-size: 32px;
    }
    #checking:checked ~ ul{
        left: 0%;
    }
    #checking:checked ~ .hamburger_icon i::before{
        content: "\f00d";
    }
    .dropdown .dropdown_content{
        left: 0;
        top: 25px;
        right: 0;
        z-index: 3;
    }
    .dropdown:hover .dropdown_content{
        position: static;
    }
     
    /* END Header */

    /* banner */
    .banner-div{
        padding-top: 50px;
    }
    .banner-content{
        flex: 1;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .banner-content h1{
        font-size: 50px;
        line-height: 62px;
    }
    .banner-btn{
        display: flex;
        gap: 5px;
    }
    .banner-img{
        display: none;
    }
    /* END banner */
    /* card section */
    .card-block{
        display: grid;
        grid-template-columns: 1fr;
    }
    .card{
        padding: 35px 40px;
        margin: 0px auto;
        align-items: center;
        text-align: center;
    }
    .card h3{
        align-items: center;
    }
    .card h3::after{
        max-width: unset;
        width: 50px;
    }
    /*END card section */
    /* intro section */
    .intro-div{
        flex-direction: column;
        gap: 20px;
    }
    .intro-head{
        max-width: unset;
        align-items: center;
    }
    .intro-img{
        width: 65%;
        margin: 0px auto;
    }
    .intro-content{
        width: 100%;
        order: 1;
        padding-top: 40px;
        align-items: center;
        text-align: center;
    }
    .intro-head::before{
        max-width: unset;
        width: 94px;
    }
    /*END intro section */
    /* rating section */
        .rating-card-block{
            grid-template-columns: 1fr;
            gap: 30px;
        }
        .rating-card{
            margin: 0px auto;
            box-shadow: var(--shadow-black);
            display: flex;        
            width: 100%;
            justify-content: space-evenly;
            border-radius: 5px;
        }
        .rating-img{
            height: 400px;
        }
        .rating-img img{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .heading{
            align-items: center;
            text-align: center;
        }
        .rating-content{
            height: 390px;
            gap: 10px;
        }
        .icon-sale{
            left: 25px;
            top: 25px;
        }
        .icon-block{
            bottom: 23px;
            gap: 15px;
        }
    /*END  rating section */
    /* pricing card */
    .pricing-card-block{
        grid-template-columns: 1fr;
        margin: 0px auto;
        padding: 0px 10px;
    }
    .pricing-card{
        padding: 50px 20px;
        margin-top: 20px;
    }
    .contnr-gap{
        padding-bottom: 0px;
    }
    .new-icon{
        top: -35px;
        right: -6px;
    }

    /* END pricing card */
    /* Teacher section */
    .teacher-sec-gap{
        padding-top: 60px;
    }
    .teacher-sec-gap{
        padding-top: 0px;
    }
    .heading{
        padding-bottom: 60px;
    }
    .testimonials-card{
        box-shadow: var(--shadow-black);
    }
    /*END Teacher section */
    /* product section */
    .contnr-gap{
        padding-top: 100px;
        padding-bottom: 90px;
    }
    /*END product section */
    /* footer section */
    .footer-links{
       display: grid;
       grid-template-columns: 1fr 1fr;
       margin-top: 45px;
       align-items: center;
       text-align: center;
    }
    .ftr-social-link{
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
    }
    .ftr-link-columns{
        padding-bottom: 30px;
    }
    /*END footer section */
}
/*END min-width 600px to 768px - tablet view */
/*min 768px TO max 992px - landscape tablets*/
@media(min-width: 768px) and (max-width: 992px){
    .dropdown_content a{
        font-size: 18px;
    }
    .dropdown .dropdown_content{
        background-color: var(--banner-color);
        margin: 0px 32px;
    }
    .li-display{
        display: none;
    }
    .head-display{
        margin-right: -68px;
    }
    .nav_center ul{
        overflow: auto;
    }
    
    /* header */

    .navbar_bg{
        position: fixed;
        top: 0px; /* changed it from 30 to 0px*/
        left: 0;
        right: 0;
        height: 90px;
        z-index: 1;
    }
    .logo{
        position: absolute;
        left: 60px;
    }
    .media_link{
        display: block;
    }
    .media_link a{
        color: var(--primary-color);
    }
    .empty_btn{
        display: none;
    }
    .header .nav_center ul{
        position: fixed;
        top: 90px;
        left: -100%;
        background-color: #fff;
        box-shadow: var(--shadow-black);
        height: calc(100vh - 90px);
        display: block;
        text-align: center;
        z-index: 2;
        transition: all 600ms;
        width: 100%;
        max-width: 300px;
    }
    .hamburger_icon{
        display: block;
        position: absolute;
        left: 10px;
        top: 30px;
    }
    .header .nav_center li{
        margin: 30px 0;
    }
    .header .nav_center li a{
        font-size: 23px;
    }
    .hamburger_icon i{
        color: var(--primary-color);
        font-size: 32px;
    }
    #checking:checked ~ ul{
        left: 0%;
    }
    #checking:checked ~ .hamburger_icon i::before{
        content: "\f00d";
    }
    .dropdown .dropdown_content{
        left: 0;
        top: 25px;
        right: 0;
        z-index: 3;
    }
    .dropdown:hover .dropdown_content{
        position: static;
    }
    /* END header */

    /* banner */
    .banner-div{
        flex-direction: row;
        padding-top: 50px;
    }
    .banner-content{
        flex: 1;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    .banner-content h1{
        font-size: 50px;
        line-height: 62p;
    }
    .banner-img{
        display: none;
    }
    .banner-btn{
        justify-content: flex-start;
        gap: 5px;
    }
    /*END banner */
    /* card section */
    .card-block{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card{
        display: grid;
        grid-template-rows: 1fr;
    }
    /* END card section */
    /* intro section */
    .intro-div{
        padding-top: 35px;
        gap: 140px;
    }
    /*END intro section */
    /* Rating section */
    .rating-card-block{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .rating-card{
        margin: 0px auto;
        display: flex;
        box-shadow: var(--shadow-black);
        border-radius: 5px;
        width: 100%;
        justify-content: space-evenly;
    }
    .rating-img img{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .heading{
        flex: 1;
        align-items: center;
        text-align: center;
    }
    /* END Rating section */
    /*Pricing section  */
    .pricing-card-block{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px 0px;
        gap: 10px;
        padding-top: 40px;
    }
    .pricing-card{
        padding: 50px 8px;
    }
    .new-icon{
        right: -10px;
    }
    /* END Pricing section */
    /* teacher-section */
    .teacher-sec-gap{
        padding: 60px 10px;
    }
    .heading{
        padding-bottom: 60px;
    }
    .testimonials-card{
        box-shadow: var(--shadow-black);
    }
    /*END teacher section */
    /* Product section */
    .contnr-gap{
        padding-top: 100px;
        padding-bottom: 90px;
    }
    /* END Product section */
    /* Footer */
    .footer-links{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 45px;
     }
     .ftr-social-link{
        padding-bottom: 30px;
        align-items: center;
        text-align: center;
     }
     .ftr-link-columns{
        padding-bottom: 30px;
        align-items: center;
        text-align: center;
     }
    /* END Footer */
}
/*END min 768px TO max 992px - landscape tablets*/
@media(min-width:992px){
    .li-display{
        display: none;
    }
    .dropdown .dropdown_content{
        left: -25px;
    }
    li.product-2:hover .dropdown-sub {
       z-index: 1;
    }
    .demo-list{
        display: none;
    }
}